{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
        <h1>
            <a href="{{ path('cars_index') }}">View Cars</a>
        </h1>
        <h1>
            <a href="{{ path('customers_index') }}">Customer|Your Profile</a>
        </h1>
        <h1>
            <a href="{{ path('sales_index') }}">Sales</a>
        </h1>
        <h1>
            <a href="{{ path('parts_index') }}">Available Parts</a>
        </h1>
    {% else %}
        <h1 class="text-center"> Please Login or Register!
        <a class="btn btn-primary" href="{{ path('register') }}">Register</a>

        <a class="btn btn-success" href="{{ path('user_login') }}">Login</a>
        </h1>
    {% endif %}
{% endblock %}

