{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cars list</h1>

    <table class="table-bordered table" style="table-layout: revert">
        <thead>
        <tr>
            <th>Id</th>
            <th>Make</th>
            <th>Model</th>
            <th>Travelled Distance</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td><a href="{{ path('cars_show', { 'id': car.id }) }}">{{ car.id }}</a></td>
                <td>{{ car.make }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.travelledDistance }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cars_show', { 'id': car.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cars_edit', { 'id': car.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('cars_new') }}">Create a new car</a>

{% endblock %}
