{% extends 'base.html.twig' %}

{% block body %}
    <h1>Car</h1>

    <table class="table-bordered table" style="table-layout: revert">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ car.id }}</td>
            </tr>
            <tr>
                <th>Make</th>
                <td>{{ car.make }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ car.model }}</td>
            </tr>
            <tr>
                <th>Travelleddistance</th>
                <td>{{ car.travelledDistance }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('cars_index') }}">Back to the list</a>

    <a class="btn btn-default" href="{{ path('cars_edit', { 'id': car.id }) }}">Edit</a>

    {{ form_start(delete_form) }}
    <input class="btn btn-danger" type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
