{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sale edit</h1>
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input class="btn btn-block" type="submit" value="Edit"/>
    {{ form_end(edit_form) }}



    {{ form_start(delete_form) }}
    <a class="btn btn-primary" href="{{ path('sales_index') }}">Back to the list</a>
    <input class="btn btn-danger" type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
